In [1]:
import pyarrow.parquet as pq
import pyarrow as pa
import pandas as pd

In [3]:
df = pd.read_csv('ICUSTAYS.csv')
df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,2125-10-07 15:13:52,2.6499
3,12754,10017,199207,204881,carevue,CCU,CCU,7,7,2149-05-29 18:52:29,2149-05-31 22:19:17,2.1436
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,2163-05-16 03:47:04,1.2938

In [4]:
print(df.isna().sum())

row_id            0
subject_id        0
hadm_id           0
icustay_id        0
dbsource          0
first_careunit    0
last_careunit     0
first_wardid      0
last_wardid       0
intime            0
outtime           0
los               0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row_id          136 non-null    int64
 1   subject_id      136 non-null    int64
 2   hadm_id         136 non-null    int64
 3   icustay_id      136 non-null    int64
 4   dbsource        136 non-null    object
 5   first_careunit  136 non-null    object
 6   last_careunit   136 non-null    object
 7   first_wardid    136 non-null    int64
 8   last_wardid     136 non-null    int64
 9   intime          136 non-null    object
 10  outtime         136 non-null    object
 11  los             136 non-null    float64
dtypes: float64(1), int64(6), object(5)
memory usage: 12.9+ KB

In [6]:
df['intime'] = pd.to_datetime(df['intime']).dt.strftime('%Y-%m-%d %H:%M:%S')
df['outtime'] = pd.to_datetime(df['outtime']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [7]:
table = pa.Table.from_pandas(df)
pq.write_table(table, 'ICUSTAYS.parquet')

In [8]:
print(table.schema)

row_id: int64
subject_id: int64
hadm_id: int64
icustay_id: int64
dbsource: string
first_careunit: string
last_careunit: string
first_wardid: int64
last_wardid: int64
intime: string
outtime: string
los: double
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 1658