In [1]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa

In [3]:
df = pd.read_csv('PATIENTS.csv')
df.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       100 non-null    int64
 1   subject_id   100 non-null    int64
 2   gender       100 non-null    object
 3   dob          100 non-null    object
 4   dod          100 non-null    object
 5   dod_hosp     70 non-null     object
 6   dod_ssn      77 non-null     object
 7   expire_flag  100 non-null    int64
dtypes: int64(3), object(5)
memory usage: 6.4+ KB

In [ ]:
df['dob'] = pd.to_datetime(df['dob']).dt.strftime('%Y-%m-%d %H:%M:%S')
df['dod'] = pd.to_datetime(df['dod']).dt.strftime('%Y-%m-%d %H:%M:%S')
df['dod_hosp'] = pd.to_datetime(df['dod_hosp']).dt.strftime('%Y-%m-%d %H:%M:%S')
df['dod_ssn'] = pd.to_datetime(df['dod_ssn']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [4]:
df.isna().sum()

row_id          0
subject_id      0
gender          0
dob             0
dod             0
dod_hosp       30
dod_ssn        23
expire_flag     0
dtype: int64

In [6]:
#Impute with sentinel datetime
df['dod_hosp'].fillna('9999-12-31 00:00:00', inplace=True)
df['dod_ssn'].fillna('9999-12-31 00:00:00', inplace=True)

C:\Users\LEGION\AppData\Local\Temp\ipykernel_34964\470128728.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['dod_hosp'].fillna('9999-12-31 00:00:00', inplace=True)
C:\Users\LEGION\AppData\Local\Temp\ipykernel_34964\470128728.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['dod_ssn'].fillna('9999-12-31 00:00:00', inplace=True)

In [10]:
df.isna().sum()

row_id         0
subject_id     0
gender         0
dob            0
dod            0
dod_hosp       0
dod_ssn        0
expire_flag    0
dtype: int64

In [11]:
table = pa.Table.from_pandas(df)
pq.write_table(table, 'PATIENTS.parquet')